<!-- your html code here-->
<div class="row bg-white">
  <div class="col-md-7 pt-2">
    <div class="w-80 mx-auto">
      <h2 class="text-center">This First Heading <span class="text-secondary">Will Catch Your Eyes</span></h2>
        <div class="text-justify">
      <p>it to make a type specimen book.
         It has survived not only five centuries, but also 
         the leap into electronic typesetting, remaining essentially 
         unchanged. It was popularised in the 1960s with the release of Letre
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-5 pt-2">
    <div>
      <img src="/website1/assets/img/1.jpg" class="ml-auto rounded-circle w-50 p-3" alt="">
    </div>
  </div>
</div>