<!-- your html code here -->
<div class="container bg-white">
    <div class="porfolio mt-5">
        <h1>Porfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias neque magni enim inventore veritatis beatae, totam earum porro, voluptates sed, atque accusamus iusto in mollitia nihil tenetur sequi eos vero.</p>
    </div>
    <div class="card-deck" >
        <div class="card border-0">
        <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aperiam quia magnam qui?</p>
        </div>
        </div>
        <div class="card border-0">
        <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aperiam quia magnam qui?</p>
        </div>
        </div>
        <div class="card border-0">
        <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aperiam quia magnam qui?</p>
        </div>
        </div>
    </div>
</div>