<!-- your html code here -->
<div class="row bg-white">
    <div class="col-md-4 w-25 p-3">
          <img src="/website1/assets/img/2.jpg" class="ml-auto rounded-circle w-50 p-0" alt="">
    </div>
    <div class="col-md-8 w-80 my-auto movein">
        
          <h2>The Second Heading <span class="text-secondary">is pretty cool too</span></h2>
        <div class="text-justify"></div>
          <p>it to make a type specimen book.
             It has survived not only five centuries, but also 
             the leap into electronic typesetting, remaining essentially 
             unchanged. It was popularised in the 1960s with the release of Letre
            </p>
        </div>
    </div>
</div>