    <!-- your html code here -->
        <div class="row">
            <div class="col-md-12">
                <img src="/website1/assets/img/bg.jpg"
                    class="img-fluid" alt="Responsive image">
                    <div class="bg-white text-center mb-auto">
                        <h1 class="mb-0">One Page Wonder</h1>
                    </div>
                    <div class="bg-white text-center">
                        <h2 class="mb-0">Will Rock Your Socks Off</h2>
                    </div>
                </div>
            </div>
        </div>

    
    </div>