    <!-- your html code here -->
        <div class="row">
            <div class="col-sm-12" style="width: 100%;">
                <img src="/website1/assets/img/bg.jpg"
                    class="img-fluid" alt="Responsive image">
                    <div class="text1">
                        <h1>One Page Wonder</h1>
                    <div class="text2">
                        <h2>Will knock your socks off</h2>
                    </div>
                </div>
            </div>
        </div>

    
    </div>